# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CustomerApp.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\andri\RiderProjects\MvvmApp\CustomerApp - Net4\.idea\.idea.CustomerApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
